body
{
	background: url('../images/clean.png') no-repeat center center fixed;
	/*background-repeat: no-repeat;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}
p
{
	color: #ff9900;
	font-weight: bold;
	font-size: 25px;
}
button, div, form, input {
	margin: 10px;
	/*float: right;*/
}
label
{
	font-size: 30px;
	color: orange;
	margin-left: 10px;
}
.gifDiv
{
	float: left;
}
button
{
	color: green;
	background-color: purple;
	font-weight: bold;
	font-size: 20px;
	width: 100px;
	height: 100px;
	float: left;
}
#giphy-form, #search-input
{
	float: left;
}
#addGiphy
{
	float: left;
	background-color: red;
	width: 200px;
	height: 100px;
	font-size: 15px;
	font-weight: bolder;
	color: black;
}
.container
{
	width: 100%;
	float: left;
}
.containerForm
{
	/*float: right;*/
	width: 100%;
	overflow: auto;
}
.containerGif
{
	width: 100%;
	overflow: auto;
}
form
{
	/*width: 100%;*/
	float: left;
}
.giphy:hover
{
	background-color: pink;
	color: orange;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}